@font-face {
    font-family: neue;
    src: url(Fonts/TT\ Firs\ Neue\ Trial\ Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}

/* header */
/* header */
/* header */
/* header */

header{
    background-color: rgb(0, 0, 0);
    height: 80px; 
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.logo{
    float: left;
    font-family:neue;
    text-decoration: underline red;
    font-size: 45px;
    font-weight: bold;
    margin: 5px;
    color: white;
}
.logo span{
    text-decoration:underline black;
}
h1.sub_logo{ 
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    padding-left: 67px;
    padding-top: 45px;
    position: absolute;
}
.barra{
    float: right;
    position: relative; 
    margin: 25px 5px 20px 5px;
}

.barra ul li{
    list-style: none;
    display: inline;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    text-decoration: underline white;
    }

.barra a{
    color: white;
}

.barra a:hover{
    color: red;
}

/* main*/
/* main*/
/* main*/
/* main*/


main{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.index{
    height: 440px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(255, 255, 255), rgba(52, 52, 52, 0.158)),
                    url("../Image/fondo\ ico\ aceite\ y\ filtro.jpg");
}
#image_banner{
    width: 100%;
    margin: 0%;
}
.logo1{
    float: left;
    font-family:neue;
    text-decoration: underline red;
    font-size: 120px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left:400px;
}
h2{
    font-family: neue;
    font-size: 30px;
    text-decoration: underline black;
    margin-top: 30px;
    margin-bottom: 30px;
}
img{
    height: 300px;
    width: 99%;
    margin: 5PX;
    border:1px solid black;
    position: static;

}
.tareas ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 50 px;
    padding-right: 50 px;
}
img.serv1{
    height: 300px;
    width: 200px;
    display: inline-block;
    margin-left: 165px;
    margin-top: 50px;
    border: 2px solid black; 
    object-fit: cover;  
}
.sdm{
    display: inline-block;
    font-size: 25px;
    margin-left: 70px;
    margin: 30px 60px 0px 180px;
    text-decoration: underline red;
    font-weight: bold;
}
.sdm1{
    display: inline-block;
    font-size: 25px;
    margin: 30px 60px 0px 165px;
    text-decoration: underline red;
    font-weight: bold;
    
}    
section.intro p{
    display: inline-block;
    height: 210px;
    width: 800px;
    background-color: #282828;
    color: white;
    text-align: center;
    font-family: neue;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 50px;
    padding: 10px;
    border: 3px solid red;
    border-radius: 45px;
}
h3{
    text-align: center;
    font-size: 50px;
    font-family: neue;
    text-decoration: 8px underline red;
    font-style: italic;
    font-weight: bold;
    text-decoration-style: inherit;
    margin-top: 50px;
}
.prod{
    height: 150px;
    width: 180px;
    display: inline-block;
    margin-left: 110px;
    margin-top: 80px;
    border: 2px solid black;  
    list-style: none;
    object-fit: cover;
}
.productos_1 ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.prod_2{
    display: inline-block;
    font-size: 25px;
    margin-left: 145px;
    margin-right: 50px;
    margin-bottom: 30px;
    text-decoration: underline red;
    font-weight: bold;  
    list-style: none; 
}

/* footer */
/* footer */
/* footer */
/* footer */

footer{
    position:absolute;
    background-color: black;
    height: 250px;
    width: 100%;
    color: white;
    font-family: neue;
}
footer p{
    display: inline-block;
}
#footer{
    margin-left: 45px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}
iframe{
    height: 150px;
    width: 300px;
    margin-left: 25px;
    position: absolute;
}
.marcas{
    height: 60px;
    width: auto;
    margin-left: 400px;
}
.redes p{
    letter-spacing: 1px;
    font-size: 35px;
    margin-top: 0px;
}
.redes{
    font-size: 50px;
    text-align: right;
    padding-right: 20px;
    padding-top: 30px;
    color: white;
    letter-spacing: 10px;
}

/* quienes somos */
/* quienes somos */
/* quienes somos */
/* quienes somos */

#quienes_somos{
    background-color: white;
    height: 670px;
    width: 100%;
}
.encabezado{
    margin-top: 20 px;
    background-color: white;
    text-transform: uppercase;
}
#quienes_somos p{
    font-family: neue;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}
.empleados{
    display: block;
    height: 400px;
    width: auto;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 30px;
}

/* servicios */
/* servicios */
/* servicios */
/* servicios */

.servicios{
    display: inline-block;
    height: 80px;
    width: 300px;
    background-color: rgb(201, 201, 201);
    margin-top: 20px;
    margin-left: 500px;
    text-align: center;
}
.Servicios ul li{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    padding-left: 4px;
    margin: 30px;
    list-style-type: circle;
}

.elevadores_1{
    height: 350px;
    width: 900px;
    margin-left: 180px;
    object-fit: cover;
}  

/* productos */
/* productos */
/* productos */
/* productos */

.fuera_de_servicio_1{
    height: 400px;
    width: 70%;
    margin-left: 190px;
    position: relative;
} 
.fuera_de_servicio_2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: neue;
    margin-bottom: 70px;
    font-weight: bolder;
}
#main_product{
    height: 700px;
}

/* contacto */
/* contacto */
/* contacto */
/* contacto */

.form{
    text-align: center;
    font-family: neue; 
    margin-left: 80px;
    margin-top: 30px;
}
input{
    margin-left: 20px;
    margin-top: 15px;
}